body{
    margin-top: 70px;
    background: black;
}

div {
    min-height: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

#visitor {
    color: aliceblue;
}

.main-title {
    -webkit-animation: colorchange 1s infinite;
    -webkit-animation-direction: alternate;
    text-align: center;
    font-size: larger;
}
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
        letter-spacing: 0;
    }
    50% {
        -webkit-text-stroke: 7.5px  #1fc8db;
    }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
        letter-spacing: 18px;
    }
}

#basic-information {
    background: orangered;
    width : 70%;
    margin: 50px auto;
    position: relative;
    font-size: 40px;
}
#basic-information h2 {
    text-align: center;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#basic-information p{
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
}

#education-history {
    background: #285;
    width : 70%;
    margin: 50px auto;
    position: relative;
    font-size: 40px;
}

#education-history h2 {
    text-align: center;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#education-history p {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
}

#about-me {
    background: #990044;
    width : 70%;
    margin: 50px auto;
    position: relative;
    font-size: 40px;
}

#about-me h2 {
    text-align: center;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#about-me p {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
}


