<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/cv.css" th:href="@{css/cv.css}" rel="stylesheet">
</head>
<body>
    <section>
        <h1 id="visitor" th:text="${visitor != null} ? ${visitor}+', I hope you interested to hire me' : 'This is my CV'"></h1>
        <h1 class="main-title">CURICULUM VITAE</h1>
        <div id="basic-information">
            <h2>Basic Information</h2>
            <p>Name : Mohammad Ahnaf Zain Ilham</p>
            <p>Birthdate & place : Surabaya, 19 May 1998</p>
            <p>Address : jl. Sawo IV no.5 RT/RW 001/008 Manggarai Selatan Jakarta</p>
            <p>Email : zainilham19@gmail.com</p>
            <p>Phone : 081287142017</p>
        </div>
        <div id="education-history">
            <h2>Education History</h2>
            <p>Primary School : Al-Muslim</p>
            <p>Junior High School : Madina Islamic School</p>
            <p>Senior High School : SMAN 26 Jakarta</p>
            <p>Collage : Universitas Indonesia</p>
        </div>
        <div id="about-me">
            <h2>About Me</h2>
            <p>I am gamer. I love any kind of game except football or racing. I play both online and offline game.
            My favorite online game is Dota 2. Usually i play support in Dota 2. My favorite offline game is Witcher 3.
             It has rich story and stunning graphic. Recently i brought a computer to support my gaming hobby. It is
             quite enough to satisfy me as a regular gamer</p>
        </div>
    </section>
</body>
</html>